/* Room Section */
.RoomPosition {
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
}

/* RoomCard Section */
.CardImage {
    width: 100%;
    height: 200px;
}
.CardBtn {
    background: #A91D3A;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    padding: .5rem 1rem;
    width: 70%;
    margin-left: 15%;
    
}
.CardBtn:hover {
    background: #151515;
    transition: all 0.3s;
} 

/* Room Detail Section */

.containerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RoomInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid #A91D3A;
    border-radius: 12px;
    padding: 1rem;
}
.RoomInfoImage {
    width: 350px;
    border-radius: 12px;
}
.InfoPosition {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #cfc8c84e;
    border: 1px solid #151515;
    border-radius: 12px;
    text-align: left;
}
.StrongTitle {
    color: #A91D3A;
}
.h2FontSize {
    font-size: 1.6rem;
}
.h4FontSize {
    font-size: 1.4rem;
}
.h5FontSize {
    font-size: 1.2rem;
}
.BookingDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.BookingModule {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    /* margin: 1rem; */
}
.QuantityBtn {
    width: 3rem;
    height: 3rem;
    background: #A91D3A;
    border-radius: 12px;
    color: #ffffffc6;
    font-size: 1.2rem;
    text-align: center;
}
.QuantityBtn:hover {
    background-color: #151515;
    transition: all 0.3s;
}
.QuantityBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.QuantityDisplay {
    border: 1px solid #A91D3A;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5px;
}
.BooKingInfoDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}
.BookingBtnPosition {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    gap: 24px;
    margin-top: 2rem;
    margin-left: 2rem;
}
.BookBtn, .CancelBtn {
    width: 110px;
    font-size: 1.2rem;
    margin-left: -20px ;
    margin-right: 5px ;
    padding: 5px;
    border: 0px;
    border-radius: 12px;
}
.BookBtn:disabled {
    opacity: 0.5;
    cursor:not-allowed;
}
.BookBtn {
    background: #A91D3A;
    color: #fff;
}
.CancelBtn {
    background: #646464;
    color: #fff;
}
.BookBtn:hover {
    background: #151515;
    transition: all 0.3s;
}
.CancelBtn:hover {
    background: #151515;
    transition: all 0.3s;
}

@media screen and (min-width: 765px) {
    .RoomInfo {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3rem;
    }
    .RoomInfoImage {
        width: 430px;
    }
    .InfoPosition {
        margin-top: 0;
        margin-left: 2rem;
        margin-right: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .h2FontSize {
        font-size: 1.4rem;
    }
    .h4FontSize {
        font-size: 1.2rem;
    }
    .h5FontSize {
        font-size: 1rem;
    }
    .BookingDisplay {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        background-color: #fff;
        border: 1px solid #151515;
        border-radius: 12px;
    }
    .BookingModule {
        display: flex;
        margin: 2rem;
    }
    .QuantityBtn {
        width: 2.6rem;
        height: 2.6rem;
    }
    .QuantityDisplay {
        margin-top: 1px;
    } 
}
@media screen and (min-width: 1455px) {
    .BookingDisplay {
        width: 60%;
        flex-direction: row;
    }
    .BooKingInfoDisplay {
        margin-top: 2em;
    }
    .BookingBtnPosition {
        margin-top: 1rem;
    }
    .BookBtn, .CancelBtn {
        width: 6rem;
        font-size: .9rem;        
    }
}